<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		package="com.pixams" >
	
	<uses-feature
			android:name="android.hardware.camera"
			android:required="true" />
	
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.CAMERA" />
	
	<application
			android:allowBackup="true"
			android:allowClearUserData="true"
			android:icon="@mipmap/ic_launcher"
			android:label="@string/app_name"
			android:roundIcon="@mipmap/ic_launcher_round"
			android:supportsRtl="true"
			android:theme="@style/AppTheme"
			android:usesCleartextTraffic="true" >
		
		<activity android:name="com.pixams.ui.screen.settings.SettingsActivity" ></activity >
		<provider
				android:name="androidx.core.content.FileProvider"
				android:authorities="${applicationId}.provider"
				android:exported="false"
				android:grantUriPermissions="true" >
			<meta-data
					android:name="android.support.FILE_PROVIDER_PATHS"
					android:resource="@xml/file_path" />
		</provider >
		
		<activity
				android:name="com.pixams.ui.screen.start_test.StartTestActivity"
				android:screenOrientation="portrait" ></activity >
		<activity
				android:name="com.pixams.ui.screen.question.QuestionActivity"
				android:screenOrientation="portrait" ></activity >
		<activity
				android:name="com.pixams.ui.screen.home.HomeActivity"
				android:label="@string/title_activity_home"
				android:screenOrientation="portrait"
				android:theme="@style/AppTheme.NoActionBar" ></activity >
		<activity
				android:name="com.pixams.ui.screen.register.RegisterActivity"
				android:screenOrientation="portrait"
				android:theme="@style/AppTheme.NoActionBar"
				android:windowSoftInputMode="stateAlwaysHidden" >
			
			<!--
            <intent-filter >
				<action android:name="android.intent.action.MAIN" />
				
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter >
            -->
		</activity >
		<activity
				android:name="com.pixams.ui.screen.login.LoginActivity"
				android:screenOrientation="portrait"
				android:windowSoftInputMode="stateAlwaysHidden" ></activity >
		<activity
				android:name="com.pixams.ui.screen.resetPin.ResetActivity"
				android:screenOrientation="portrait"
				android:windowSoftInputMode="stateAlwaysHidden" ></activity >
		<activity
				android:name="com.pixams.ui.screen.test_complete.TestCompleteActivity"
				android:screenOrientation="portrait"
				android:windowSoftInputMode="stateAlwaysHidden" ></activity >
		<activity
				android:name="com.pixams.ui.screen.validate.ValidateActivity"
				android:screenOrientation="portrait"
				android:windowSoftInputMode="stateAlwaysHidden" >
			<intent-filter >
				<action android:name="android.intent.action.MAIN" />
				
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter >
		</activity >
	</application >

</manifest >